body {
  padding: 0;
  margin: 0;
  background-image: url(images/blueSpace.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}
h2 {
  color: rgba(40, 63, 6);
  text-align: center;
}
/* main container */
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* products displaying */
.productsPart {
  width: 80%;
  height: 40%;
  margin-left: 10%;
  border-bottom: 4px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
/* inside productsPart*/
.aside {
  width: 150px;
  height: 180px;
  border: 1px solid blue;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1%;
}
/* images */
.img1 {
  width: 130px;
  height: 100px;
  border-radius: 50%;
  border: 1px dotted silver;
}
.insideContainer {
  width: 140px;
  height: 32px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* inside interactivity part */
.inside-cart-products-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.products-inside-quantity {
  width: 40px;
  margin-right: 3%;
}
.inside-cart-products-delete-frame {
  display: flex;
  justify-content: space-evenly;
}
/* javascript interactivity part */
.interactivityPart {
  width: 80%;
  height: 40%;
  margin-left: 10%;
  border: 1px solid black;
  margin-top: 2%;
}
/* total */
.cart-total {
  width: 190px;
  border-top: 2px solid silver;
  margin-top: 2%;
  padding-top: 2%;
}

/* purchase btn */
.purchase-btn {
  width: 120px;
  height: 50px;
  background: green;
  color: silver;
  font-weight: bold;
  size: 24px;
  margin-left: 44%;
  border: none;
  margin-bottom: 2%;
}
/* delete btn from upper-shopping card */
.del-btn {
  background: rgba(53, 63, 173, 0.5);
  color: white;
  border: none;
  height: 34px;
  margin-left: 2%;
}
/* remove button of basket */
.btn-danger {
  border: none;
  color: silver;
  background: rgba(241, 33, 22, 0.8);
}
